{% extends "frontend/partition/layout.njk" %} {% block body %}
<!-- ======= About Section ======= -->
<main>
  <div class="container">
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div
            class="col-lg-7 position-relative about-img"
            style="background-image: url(img/about.jpg)"
            data-aos="fade-up"
            data-aos-delay="150"
          >
            <div class="call-us position-absolute">
              <h4>Book a Table</h4>
              <p>+1 5589 55488 55</p>
            </div>
          </div>
          <div
            class="col-lg-5 d-flex align-items-end"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i> Ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> Duis aute irure dolor in
                  reprehenderit in voluptate velit.
                </li>
                <li>
                  <i class="bi bi-check2-all"></i> Ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate trideta storacalaperda mastiro
                  dolore eu fugiat nulla pariatur.
                </li>
              </ul>
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End About Section -->
  <div class="container">
    <section id="why-us" class="why-us">
      <div class="container">
        <div class="section-title">
          <h2>Why choose <span>Our Restaurant</span></h2>
          <p>
            Ut possimus quIi ut temporibus culpa velit eveniet modi omnis est
            adipisci expedita at voluptas atque vitae autem.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Lorem Ipsum</h4>
              <p>
                Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et
                consectetur ducimus vero placeat
              </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Repellat Nihil</h4>
              <p>
                Dolorem est fugiat occaecati voluptate velit esse. Dicta
                veritatis dolor quod et vel dire leno para dest
              </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Ad ad velit qui</h4>
              <p>
                Molestiae officiis omnis illo asperiores. Aut doloribus vitae
                sunt debitis quo vel nam quis
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <section class="py-7 py-md-9">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <!-- Heading -->
            <h2 class="mb-2">Behind the scenes</h2>

            <!-- Subheading -->
            <p class="mb-6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
              obcaecati sit odio velit culpa aspernatur consectetur natus quidem
              minima veritatis.
            </p>
          </div>
        </div>
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 order-md-2">
            <!-- Image -->
            <img
              class="img-fluid mw-md-120 clip-top-start"
              src="img/about-2.jpg"
              alt="about"
            />
          </div>
          <div class="col-md-5 order-md-1">
            <!-- Text -->
            <p class="lead text-black">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Provident sequi ratione, accusamus quo mollitia architecto,
              explicabo obcaecati.
            </p>

            <!-- Text -->
            <p class="mb-6">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              enim saepe aperiam eius, quam blanditiis necessitatibus dolorem
              dignissimos pariatur quas velit nihil tempora, libero unde
              molestiae! Illum, inventore. Iusto, autem!
            </p>

            <!-- Text -->
            <p class="mb-md-0">
              <a class="btn btn-outline-primary" href="/contactUs">
                Contact Us
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
