<!DOCTYPE html>
<html lang="en">
  {% include "frontend/partition/head.njk" %}
  <body>
   
      {% include "frontend/partition/navbar.njk" %} {% block body %}
      {% endblock %}
       {% include "frontend/partition/footer.njk" %}

       <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

       <div id="preloader"></div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/custom-js/main.js"></script>
    <script src="/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
    {% block customScript %} {% endblock %}
  </body>
</html>
