{# <div class="container">
  <nav id="navbar" class="navbar d-flex align-items-center px-3">
    <a class="navbar-brand" href="/">
      <img
        src="/img/108Meals-logo.png"
        alt="108Meals-logo"
        class="logo img img-fluid"
        width="120px"
        height="120px"
      />
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactUs">Contact Us</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-danger"><a class="nav-link" href="https://www.zomato.com/ahmedabad/108-meals-sarkhej/order" target="_blank">Order Online</a></button>
      </li>
    </ul>
  </nav>
</div> #}
 <header id="header" class="header d-flex align-items-between">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
{#       
      <img
        src="/img/108Meals-logo.png"
        alt="108Meals-logo"
        class="logo img img-fluid"
        width="120px"
        height="120px"
      /> #}
    
        <h1>108Meal</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contactUs">Contact</a></li>
          <li> <a class="btn-book-a-table"  href="https://www.zomato.com/ahmedabad/108-meals-sarkhej/order" target="_blank">Order Online</a></li>
        </ul>
      </nav><!-- .navbar -->     
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
