{% extends "backend/partition/layout.njk" %} {% block body %}
<div>
    <form action="/admin/menusCategory/add" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Category Name">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
         
    </form>
</div>
{% endblock %}
